[Unit]
Description=OpenSSH Daemon
Documentation=man:sshd(8) man:sshd_config(5)
After=network.target

[Service]
Type=notify
ExecStartPre=/usr/bin/ssh-keygen -A
ExecStart=/usr/bin/sshd -D
KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
